.text-logo_ {
    font-size: 24px;
    font-weight: bold;
    transition: 1.5s;
}

.text-logo_:hover {
    color: #ec0e00;
    transition: 0.5s;
}

.featured-product_ {
    min-width: 160px;
}

.contact_ {
    min-width: 55px;
}

.news_ {
    min-width: 50px;
}

.text-copyright-outline_ {
    font-size: 5vw;
    position: absolute;
    color: #ec0e00;
    opacity: 0.1;
}

.img-product_ {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.bg > img {
    width: 100%;
}

p.small {
    height: 60px;
}

.price_, .product-sale_ {
    margin-bottom: 10px;
}

.hot-product_ {
    width: 250px;
}

.product-hot_ {
    margin-bottom: 5rem;
    position: relative;
}

.title-product-hot_ {
    margin-bottom: 2rem;
    width: 100%;
    color: #ff2d20;
}

.content-product_ {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2em;
    background: #fff;
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, .2);
    position: relative;
}

.name-product_ {
    margin-bottom: 0;
}

.product-sale_ {
    text-decoration: line-through;
    font-size: 13px;
}

.scroll-product-hot_ {
    overflow-x: auto;
}

.scroll-product-hot_::-webkit-scrollbar {
    display: none;
}

.scroll-product-hot_, .scroll-product-hot_ > .items-product-hot_ {
    display: flex;
}

.control-scroll-product_ {
    top: 50%;
    width: 100%;
}

.control-scroll-product_, .control-scroll-product_ > .next-scroll-product_, .control-scroll-product_ > .prev-scroll-product_ {
    position: absolute;
}

.control-scroll-product_ > .next-scroll-product_, .control-scroll-product_ > .prev-scroll-product_ {
    width: 40px;
    cursor: pointer;
    opacity: 0.3;
    transition: 1s;
}

.control-scroll-product_ > .next-scroll-product_:hover, .control-scroll-product_ > .prev-scroll-product_:hover {
    opacity: 1;
    transition: 1s;
}

.control-scroll-product_ > .next-scroll-product_ {
    right: 0;
}

.control-scroll-product_ > .prev-scroll-product_ {
    left: 0;
}

.control-scroll-product_ > .next-scroll-product_ > img, .control-scroll-product_ > .prev-scroll-product_ > img {
    border-radius: 50%;
    border: solid 2px #f5f5fa;
}

.discount-badge_ {
    background-image: url("/img/icons/voucher.png");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 45px;
    top: 0;
    vertical-align: middle;
    line-height: 44px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 8px;
}

.position-relative_ {
    position: relative;
}

/*hai*/
.content-header-top_ {
    display: flex;
    margin-top: 3em;
}

.left-menu-header-top_ {
    width: 30%;
}

.slider-holder_ {
    width: 70%;
}

.slider-holder_ > .image-holder_ {
    height: 100%;
    background: #fafafa;
}

.right-menu-header-top_ {
    position: relative;
}

.slider-holder_ > .slider-button-holder_ {
    width: 100%;
    position: absolute;
}

.slider-holder_ > .slider-button-holder_ .slider-image-dot_ {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: solid 2px #cccccc;
    float: left;
    margin-left: 3px;
    bottom: 0;
    cursor: pointer;
    transition: 1s;
}

.slider-holder_ > .slider-button-holder_ .slider-image-dot_:hover {
    background: #cccccc;
    transition: 1s;
}

.slider-holder_ > .image-holder_ .slider-image_ {
    position: absolute;
    object-fit: cover;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: 1s;
    min-height: 350px;
}

.slider-holder_ > .image-holder_ .slider-image_:not(:first-child) {
    display: none;
}

.active-slide_ {
    background: #cccccc;
}

.mobile-category_ {
    display: none;
}

.img-breadcrumb_ {
    width: 6px;
    margin: 0 3px;
}

.content-breadcrumb_ {
    background: #fbffff;
    padding: 3px 0.8em;
}

@media only screen and (max-width: 768px) {
    .mobile-category_ {
        display: block;
    }

    .left-menu-header-top_ {
        display: none;
    }

    .right-menu-header-top_ {
        width: 100%;
    }

    .content-header-top_ {
        margin-top: 13em;
        margin-bottom: 13em;
    }

    .slider-holder_ > .slider-button-holder_ {
        bottom: -190px;
    }
}
