.text-logo_ {
    font-size: 24px;
    font-weight: bold;
    transition: 1.5s;
}

.text-logo_:hover {
    color: #ec0e00;
    transition: 0.5s;
}

.featured-product_ {
    min-width: 160px;
}

.contact_ {
    min-width: 55px;
}

.news_ {
    min-width: 50px;
}

.text-copyright-outline_ {
    font-size: 5vw;
    position: absolute;
    color: #ec0e00;
    opacity: 0.1;
}

.img-product_ {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.bg > img {
    width: 100%;
}

p.small {
    height: 30px;
}

.price_, .product-sale_ {
    margin-bottom: 10px;
}

.hot-product_ {
    width: 250px;
}

.product-hot_ {
    margin-bottom: 5rem;
    position: relative;
}

.title-product-hot_ {
    margin-bottom: 2rem;
    width: 100%;
    color: #ff2d20;
}

.content-product_ {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 100%;
    padding: 2em;
    background: #fff;
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, .2);
    position: relative;
}

.name-product_ {
    margin-bottom: 0;
}

.product-sale_ {
    text-decoration: line-through;
    font-size: 13px;
}

.scroll-product-hot_ {
    overflow-x: auto;
}

.scroll-product-hot_::-webkit-scrollbar {
    display: none;
}

.scroll-product-hot_, .scroll-product-hot_ > .items-product-hot_ {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.control-scroll-product_ {
    top: 50%;
    width: 100%;
}

.control-scroll-product_, .control-scroll-product_ > .next-scroll-product_, .control-scroll-product_ > .prev-scroll-product_ {
    position: absolute;
}

.control-scroll-product_ > .next-scroll-product_, .control-scroll-product_ > .prev-scroll-product_ {
    width: 40px;
    cursor: pointer;
    opacity: 0.3;
    transition: 1s;
}

.control-scroll-product_ > .next-scroll-product_:hover, .control-scroll-product_ > .prev-scroll-product_:hover {
    opacity: 1;
    transition: 1s;
}

.control-scroll-product_ > .next-scroll-product_ {
    right: 0;
}

.control-scroll-product_ > .prev-scroll-product_ {
    left: 0;
}

.control-scroll-product_ > .next-scroll-product_ > img, .control-scroll-product_ > .prev-scroll-product_ > img {
    border-radius: 50%;
    border: solid 2px #f5f5fa;
}

.title-name-product_ {
    font-weight: bold;
    font-size: 23px;
    width: 100%;
}

.discount-badge_ {
    background-image: url("/demo/img/icons/voucher.png");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 45px;
    top: 0;
    vertical-align: middle;
    line-height: 44px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 8px;
}

.position-relative_ {
    position: relative;
}

/*hai*/
.content-header-top_ {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 3em;
    margin-bottom: 3em;
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    height: 100%;
}

.left-menu-header-top_ {
    width: 30%;
}

.right-menu-header-top_ {
    width: 70%;
    min-height: 680px;
    position: relative;
}

.slider-holder_ {
    width: 100%;
}

.slider-holder_ > .image-holder_ {
    height: 100%;
    background: #fafafa;
}

.slider-holder_ > .slider-button-holder_ {
    width: 100%;
    position: absolute;
}

.slider-holder_ > .slider-button-holder_ .slider-image-dot_ {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: solid 2px #cccccc;
    float: left;
    margin-left: 3px;
    bottom: 0;
    cursor: pointer;
    transition: 1s;
}

.slider-holder_ > .slider-button-holder_ .slider-image-dot_:hover {
    background: #cccccc;
    transition: 1s;
}

.slider-holder_ > .image-holder_ .slider-image_ {
    position: absolute;
    object-fit: cover;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: 1s;
    min-height: 350px;
}

.slider-holder_ > .image-holder_ .slider-image_:not(:first-child) {
    display: none;
}

.active-slide_ {
    background: #cccccc;
}

.mobile-category_ {
    display: none;
}

.img-breadcrumb_ {
    width: 6px;
    margin: 0 3px;
}

.content-breadcrumb_ {
    background: #fbffff;
    padding: 3px 0.8rem;
    margin-bottom: 2rem;
}

.content-breadcrumb_ > span {
    color: #ff2d20;
}

.detail-item-all-images_ {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    max-height: 375px;
    width: 50%;
    padding: 1rem;
}

.detail-item-left-image_ {
    width: 30%;
    padding: 0 1rem;
    overflow-y: auto;
}

.detail-item-left-image_::-webkit-scrollbar {
    width: 10px;
}

.detail-item-left-image_::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.detail-item-left-image_::-webkit-scrollbar-thumb {
    background: #888;
}

.detail-item-left-image_::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.detail-item-left-image_ > .active-item-image_ {
    outline: solid 1px #ff2d20;
}

.detail-item-left-image_ img {
    cursor: pointer;
}

.detail-item-right-image_ {
    width: 70%;
}

.detail-item-right-image_ > img {
    height: 100%;
    object-fit: contain;
    margin: auto;
}

.table-detail_ {
    width: 100%;
    border-collapse: collapse;
}

.table-detail_ > tbody > tr > td:first-child {
    background: #efefef;
}

.table-detail_ > tbody > tr > td {
    border: solid 1px #cccccc;
    padding: 10px;
}

.table-detail_ colgroup .first_ {
    width: 30%;
}

.table-detail_ colgroup .last_ {
    width: 70%;
}

.zoom {
    display: inline-block;
    position: relative;
}

.zoom:after {
    display: block;
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.zoom img {
    display: block;
}

.zoom img::selection {
    background-color: transparent;
}

#ex2 img:hover {
    cursor: grab;
}

#ex2 img:active {
    cursor: grabbing;
}

.detail-item_ {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.detail-item_ > .detail-price_ {
    width: 50%;
    padding: 1rem
}

.image-product-hot_ {
    flex-direction: column;
    -webkit-flex-direction: column;
}

.action_ {
    float: left;
    margin: 0 3px;
}

.action-edit_ > img {
    width: 15px;
}

.action-show_ > img {
    width: 17px;
}

.action-delete_ > img {
    width: 12px;
}

.image-table_ {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.image-edit_ {
    margin: 10px auto;
    display: block;
    width: 200px;
    height: 200px;
    object-fit: contain;
}


#show-image {
    display: flex;
}

.data-upload_ {
    max-height: 200px;
    max-width: 200px;
    position: relative;
    margin: 3px 5px;
}

.close-image-upload_ {
    position: absolute;
    color: #ff2d20;
    cursor: pointer;
}

.data-upload_ > img {
    object-fit: contain;
    padding: 5px;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .mobile-category_ {
        display: block;
    }

    .left-menu-header-top_ {
        display: none;
        width: 0;
    }

    .right-menu-header-top_ {
        width: 100%;
        height: 100%;
        min-height: auto;
    }

    .content-header-top_ {
        margin-top: 13em;
    }

    .slider-holder_ > .slider-button-holder_ {
        bottom: -190px;
    }

    .detail-item_ {
        display: block;
    }

    .detail-item_ > .detail-item-all-images_ {
        width: 100%;
    }

    .detail-item_ > .detail-price_ {
        width: 100%;
    }
}
